@media (max-width: 320px) {
  
  .xs-no-padding{
    padding:0px;      
  }
  .col-md-1,.col-md-2,.col-md-3,
  .col-md-4,.col-md-5,.col-md-6,
  .col-md-7,.col-md-8,.col-md-9,
  .col-md-10,.col-md-11,.col-md-12{
    padding-left: 10px;        
    padding-right: 10px;        
  }
  
}
.bg-white{    
    background-color: #FFFFFF;    
}
.bg-sucursal-1{background-color:#f39c12 !important; color: #FFFFFF;}
.bg-sucursal-2{background-color:#00a65a !important; color: #FFFFFF;}
.bg-sucursal-3{background-color:#dd4b39 !important; color: #FFFFFF;}
.bg-sucursal-4{background-color:#00c0ef !important; color: #FFFFFF;}
.bg-sucursal-5{background-color:#605ca8 !important; color: #FFFFFF;}
.bg-sucursal-6{background-color:#001f3f !important; color: #FFFFFF;}

.q-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}
.q-modal .modal {
    background: transparent!important;
}
.bg-withe{    
    background-color: #FFFFFF;    
}
.strikethrough {
    text-decoration: line-through;
}
.close{font-size: 31px!important; color:#262c33!important; opacity: 1!important;font-weight:900;} 
.shake-horizontal{display:inline-block;transform-origin:center center}.shake-freeze,.shake-constant.shake-constant--hover:hover,.shake-trigger:hover .shake-constant.shake-constant--hover{animation-play-state:paused}.shake-freeze:hover,.shake-trigger:hover .shake-freeze,.shake-horizontal:hover,.shake-trigger:hover .shake-horizontal{animation-play-state:running}@keyframes shake-horizontal{2%{transform:translate(-9px, 0) rotate(0)}4%{transform:translate(-6px, 0) rotate(0)}6%{transform:translate(-7px, 0) rotate(0)}8%{transform:translate(-8px, 0) rotate(0)}10%{transform:translate(4px, 0) rotate(0)}12%{transform:translate(10px, 0) rotate(0)}14%{transform:translate(10px, 0) rotate(0)}16%{transform:translate(6px, 0) rotate(0)}18%{transform:translate(-3px, 0) rotate(0)}20%{transform:translate(-4px, 0) rotate(0)}22%{transform:translate(4px, 0) rotate(0)}24%{transform:translate(-6px, 0) rotate(0)}26%{transform:translate(2px, 0) rotate(0)}28%{transform:translate(-6px, 0) rotate(0)}30%{transform:translate(0px, 0) rotate(0)}32%{transform:translate(8px, 0) rotate(0)}34%{transform:translate(-3px, 0) rotate(0)}36%{transform:translate(-3px, 0) rotate(0)}38%{transform:translate(-9px, 0) rotate(0)}40%{transform:translate(1px, 0) rotate(0)}42%{transform:translate(-5px, 0) rotate(0)}44%{transform:translate(-3px, 0) rotate(0)}46%{transform:translate(-4px, 0) rotate(0)}48%{transform:translate(-8px, 0) rotate(0)}50%{transform:translate(-5px, 0) rotate(0)}52%{transform:translate(10px, 0) rotate(0)}54%{transform:translate(-8px, 0) rotate(0)}56%{transform:translate(-2px, 0) rotate(0)}58%{transform:translate(4px, 0) rotate(0)}60%{transform:translate(5px, 0) rotate(0)}62%{transform:translate(4px, 0) rotate(0)}64%{transform:translate(0px, 0) rotate(0)}66%{transform:translate(-2px, 0) rotate(0)}68%{transform:translate(7px, 0) rotate(0)}70%{transform:translate(3px, 0) rotate(0)}72%{transform:translate(-2px, 0) rotate(0)}74%{transform:translate(-3px, 0) rotate(0)}76%{transform:translate(7px, 0) rotate(0)}78%{transform:translate(8px, 0) rotate(0)}80%{transform:translate(-5px, 0) rotate(0)}82%{transform:translate(1px, 0) rotate(0)}84%{transform:translate(2px, 0) rotate(0)}86%{transform:translate(0px, 0) rotate(0)}88%{transform:translate(3px, 0) rotate(0)}90%{transform:translate(-3px, 0) rotate(0)}92%{transform:translate(-3px, 0) rotate(0)}94%{transform:translate(-8px, 0) rotate(0)}96%{transform:translate(-3px, 0) rotate(0)}98%{transform:translate(-9px, 0) rotate(0)}0%,100%{transform:translate(0, 0) rotate(0)}}.shake-horizontal:hover,.shake-trigger:hover .shake-horizontal,.shake-horizontal.shake-freeze,.shake-horizontal.shake-constant{animation-name:shake-horizontal;animation-duration:100ms;animation-timing-function:ease-in-out;animation-iteration-count:infinite}
.label.user-color-1{background-color: #00733e;}
.label.user-color-2{background-color: #843534;}
.label.user-color-3{background-color: #c7254e;}
.label.user-color-4{background-color: #86b300;}
.label.user-color-5{background-color: #00f;}
.label.user-color-6{background-color: #ff7701;}
.label.user-color-7{background-color: #eea236;}
.label.user-color-8{background-color: #466482;}
.label.user-color-9{background-color: #ff042a;}
.label.user-color-10{background-color: #990099;}
.label.user-color-11{background-color: #804000;}
.label.user-color-12{background-color: #ff9900;}
.label.user-color-13{background-color: #4e6f08;}
.label.user-color-14{background-color: #c7a035;}
.label.user-color-15{background-color: #85847c;}
.label.user-color-16{background-color: #66ffff;}
.label.user-color-17{background-color: #ff66ff;}

.bg-forma-pago-1{ackground-color: #00733e;}
.bg-forma-pago-2{background-color: #843534;}
.bg-forma-pago-3{background-color: #c7254e;}
.bg-forma-pago-4{background-color: #86b300;}
.bg-forma-pago-5{background-color: #00f;}
.bg-forma-pago-6{background-color: #ff7701;}
.table.t-padding-2>tbody>tr>td, 
.table.t-padding-2>tbody>tr>th, 
.table.t-padding-2>tfoot>tr>td, 
.table.t-padding-2>tfoot>tr>th, 
.table.t-padding-2>thead>tr>td, 
.table.t-padding-2>thead>tr>th{
    padding: 2px;
}
.btn-estado-active{
    background-color: #fff!important;
    color: #000!important;
}
.bg-estado--1,
.btn-estado--1{
    background-color: #dd4b39;
    border-color: #d73925;
    color: #FFFFFF;
    
}

.bg-estado-1,
.btn-estado-1{
    background-color: #262c33;
    border-color: #262c33;
    color: #FFFFFF;
}

.bg-estado-2,
.btn-estado-2{
    background-color: #f39c12;
    border-color: #e08e0b;
    color: #FFFFFF;
}

.bg-estado-3,
.btn-estado-3{
    background-color: #00a65a;
    border-color: #008d4c;
    color: #ffffff;
}

.bg-estado-4,
.btn-estado-4{
    background-color: #29cac8;
    border-color: #29cac8;
    color: #FFFFFF;
}
.bg-estado-5,
.btn-estado-5{
    background-color: #000;
    border-color: #000;
    color: #FFFFFF;
}
.img-thumbnail.estado--1{background-color: #dd4b39;}


.text-estado--1{color:#dd4b39!important;}
.text-estado-1{color:#2a166f!important;}
.text-estado-2{color:#f39c12!important;}
.text-estado-3{color:#00a65a!important;}
.text-estado-4{color:#29cac8!important;}
.text-estado-5{color:#000!important;}
.tr-primary-selectd{
    background-color: #948AB7;
}

.text-white{color:#FFF;}
.nav>li>a.btn-logout{
    cursor: pointer;    
    font-size: 1.1em;
}
.cursor-pointer{
    cursor: pointer;
}

.box.box--1 {border-top-color: #dd4b39;}
.box.box-1 {border-top-color: #262c33;}
.box.box-2 {border-top-color: #f39c12;}
.box.box-3 {border-top-color: #00a65a;}
.box.box-4 {border-top-color: #29cac8;}
.box.box-5 {border-top-color: #000;}

.lab-skin-1{color:#2a166f;}
.lab-skin-2{color:#f39c12}
.lab-skin-3{}
.lab-skin-4{}
.lab-skin-5{}
.lab-skin-6{}
.lab-skin-7{}
.lab-skin-8{color: #00a65a;}

.text-proveedor-1 {color: #2a166f;}/*vista*/
.text-proveedor-2 {color: #fd6b3a;}/*bichara*/
.text-proveedor-3 {color: #00a65a;}/*vector*/
.text-proveedor-4 {color: #e1051f}/*fbd*/
.text-proveedor-127 {color: #29cac8;}/*otros*/
.text-proveedor-6 {color: #000;}
.text-proveedor-7 {color: #000;}

.bg-primary-light{
    background-color: #c7baf4;
}

.close-icon{ 
    font-weight: 900!important;
}
i.required{
    color: #ff0000;
    font-weight: 900!important;
}
h6.half-margin{
    margin-bottom: 5px!important;
}
.background-color-eee {  
  background-color: #eee;
}
.label-print-number-code{
    position: relative;
    float: left;
    border:solid 1px #6c6c6c;
    padding:1px  5px 0 5px; 
    margin:2px;
    font-size: 16px;
    line-height: 16px;
}
.label-print-number-code span.con-solapa{
     padding-right: 50px!important; 
}
.left-cut-border{
    padding-left: 2px;
    border-left-style: dashed;
    border-left-width: 1px;
    border-left-color: #6c6c6c;
}
.bg-withe{    
    background-color: #FFFFFF;    
}
.tool-box{
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px 10px 10px 15px; 
    background-color: #fff;
    min-height: 200px;
}
.tool-box.disabled{
    opacity: 0.50;
    filter: alpha(opacity=50);
}
.tool-box h1{
    font-size: 3em;
    margin-top: 5px;
    margin-bottom: 15px;
}
.tool-box .info-box-text{
    display: block;
    font-size: 16px;
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-hg{
    font-size: 34px;
    padding: 6px 24px;
}
.compression-quality:hover{
    background: rgba(0, 0, 0, 0.1);
    color: #262c33;
}
.compression-border-bottom {
    border-bottom: 1px solid;
    border-color: #262c33;
}
.compression-border-top {
    border-top: 1px solid;
    border-color: #262c33;
} 
.check-circle{    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px!important;
}
.disabled-hard{
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.text-inline-block{
    display: inline-block;
    padding: 6px 12px;
}
.animate__heartBeat{
    --animate-duration: 2s;
    --animate-repeat: 3;    
    --animate-delay: 4000ms;
}