<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Alumnos</h3>
        <div class="box-tools pull-right">
          <span class="label label-danger">
              10 Noviembre
          </span>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
      <ul class="users-list clearfix row">
        <li style="width: 25%;">            
            <a href="#" target="_blank" >
                <img src="img/profile/alumno.png" alt="Tomas Abdala"/>
                <span class="users-list-name">Tomas </span>
                <span class="users-list-date">Abdala</span>          
            </a>
            
        </li>
        <li style="width: 25%;">    
            <a href="https://www.linkedin.com/in/itati-araujo-80167123" target="_blank" >
                <img src="img/profile/araujo.jpg" alt="Maria Itati Araujo"/>
                <span class="users-list-name" > Ma. Itatí  </span>
                <span class="users-list-date">Araujo</span>          
            </a>
        </li>
        <li style="width: 25%;">     
            <a href="https://www.linkedin.com/in/daniel-a-esquivel-sosa-540096179" target="_blank" >
                <img src="img/profile/daniel_esquivel.jpg" alt="Daniel Esquivel"/>            
                <span class="users-list-name" >
                    Daniel A. 
                </span>          
                <span class="users-list-date">Esquivel Sosa</span>               
            </a>
        </li>
        <li style="width: 25%;">            
            <a href="https://www.linkedin.com/in/pablo-n-garc%C3%ADa-solanellas-9207774a/" target="_blank" >
                <img src="img/profile/garcia_solanellas.jpg" alt="Pablo N. García Solanellas"/>
                    <span class="users-list-name" > Pablo N.  </span>
                <span class="users-list-date">García Solanellas</span>          
            </a>
        </li>
        <li style="width: 25%;">      
            <a href="https://www.linkedin.com/in/dbymatt/" target="_blank" >
                <img src="img/profile/matos.jpg" alt="Debora Matos">
                    <span class="users-list-name">Débora </span>
                <span class="users-list-date">Mattos</span>          
            </a>
        </li>
        <li style="width: 25%;">            
            <a href="https://www.linkedin.com/in/alejandro-j-ybarra-791000132/" target="_blank" >
                <img src="img/profile/alejandro_ybarra.jpg" alt="Alejandro Ybarra"/>
                <span class="users-list-name" >Alejandro J.</span>
                <span class="users-list-date">Ybarra</span>          
            </a>
        </li>
        
        
      </ul><!-- /.users-list -->
    </div><!-- /.box-body -->
    
  </div>