<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="box box-primary">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img class="img-thumbnail"  style="position: relative; border:none;"
                             alt="Universidad Nacional del Nordeste, UNNE" style="position: relative;"
                             src="img/unne.jpg" />
                    </div>
                    <div class="col-md-8 text-center">
                        <h2>Universidad Nacional del Nordeste</h2>
                        <br/>
                        <h3>Facultad de Ciencias Exactas y Naturales y Agrimensura</h3>
                    </div>
                    <div class="col-md-2 text-center">
                        <img class="img-thumbnail" style="position: relative; border:none;"
                             alt="FaCeNa, Facultad de Ciencias Exactas y Naturales y Agrimensura "
                             src="img/facena.jpg" />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 text-center">
                        <img class="img-thumbnail"
                            alt="Contaduria General de la Provincia de Corrientes"
                            style="position: relative; border:none;"
                            src="img/contaduria.jpg" />    
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12 text-center " style="margin-bottom: 20px;">
                        <h4 class="text-bold">Proyecto de Transferencia de Conocimientos</h4>                        
                        <h4 class="text-bold">Año: 2020</h4>                                                
                        <h4 class="text-bold">Herramienta de código abierto para optimización de archivos PDF</h4>                  
                                             
                        
                    </div>
                    <div class="col-md-8 col-md-offset-2 table-responsive">                                         
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        Decana 
                                    </td>
                                    <td>
                                        <strong>Mgter.</strong> María Viviana Godoy
                                    </td>                                    
                                </tr>
                                <tr>
                                    <td>
                                        Coordinador Voluntariado 
                                    </td>
                                    <td>
                                        <strong>Ing.</strong> Esp. Abel Esquivel
                                    </td>                                    
                                </tr>                                
                                <tr>
                                    <td>
                                        Res. por la Carrera de Lic. en Sist. de Inf.
                                    </td>
                                    <td>
                                        <a class="text-primary"
                                            href="https://www.linkedin.com/in/sonia-i-mariño"
                                             title="linkedin Dra Sonia I. Mariño"
                                             target="_blank" >
                                            <strong>Dra</strong>. Sonia I. Mariño
                                            <img src="img/in.jpg" width="14" alt="linkedin"/>
                                        </a>
                                        
                                        
                                    </td>                                    
                                </tr>
                                <tr>
                                    <td>
                                        Ministro de Ciencia y Tecnología
                                    </td>
                                    <td>
                                        <strong>Dr.</strong> Orlando Maccio
                                    </td>                                    
                                </tr>
                                <tr>
                                    <td>
                                        Subs. de Innovación y Desarrollo Tecnológico
                                    </td>
                                    <td>
                                        <strong>Ing.</strong> Sergio L. Alegría
                                    </td>                                    
                                </tr>
                                <tr>
                                    <td>
                                     
                                    </td>
                                    <td>
                                     
                                    </td>                                    
                                </tr>
                                
                            </tbody>                            
                        </table>
                        
                    </div>
                    <div class="col-md-8 col-md-offset-2 table-responsive">
                        <h4 class="text-center">Ministerio de Hacienda y Finanzas </h4>                        
                            <table class="table table-bordered">

                                <thead>
                                    <tr>
                                        <td>
                                            Cargo
                                        </td>
                                        <td>
                                            Nombre
                                        </td>
                                    </tr>
                                </thead> 
                                <tbody>
                                    <tr>
                                        <td>
                                            Ministro 
                                        </td>
                                        <td>
                                            <strong>CP.</strong> Marcelo Rivas Piasentini 
                                        </td>                                    
                                    </tr>
                                    <tr >
                                        <td
                                            class= "text-center bg-gray disabled" colspan="2">
                                           <span>Contaduría Gral. de la Provincia</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Contador General
                                        </td>
                                        <td>
                                            <strong>CP.</strong> Héctor Horacio Herrero
                                        </td>                                    
                                    </tr>                                
                                    <tr>
                                        <td>
                                           Directora de Sistemas
                                        </td>
                                        <td>
                                            <a class="text-primary"
                                                href="https://www.linkedin.com/in/maria-de-los-angeles-ferraro-03b292b9"
                                               title="linkedin Lic. María de los Ángeles Ferrara"
                                               target="_blank" >
                                                <strong>Lic.</strong> María de los Ángeles Ferraro 
                                                <img src="img/in.jpg" width="14" alt="linkedin"/>
                                            </a>
                                            
                                        </td>                                    
                                    </tr>

                                </tbody>                            
                            </table>
                        </div>
                    </div>
                </div>
            <div class="row">                   
                <div   ng-include=" 'app/about/alumnos.html?c=TIME_STAMP_JS_FILE_HERE' "
                    class="col-md-6 col-md-offset-3 table-responsive">
                    
                </div>
            </div>    
      
            <div class="box-footer">

            </div>
        </div>
    </div>
</div>