
<div class="modal" ng-show="messageStatus.show && !messageStatus.waiting && !nextCtrlsobre.show ">
    <div class="modal-dialog">
        <div class="modal-content" ng-class="messageStatus.cssClass">
            <div class="modal-header">
                <button ng-click="msgbox();"
                    type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">×</span>

                </button>
              <h4 class="modal-title">{{messageStatus.title}}</h4>
            </div>
            <div class="modal-body text-center">  
                <p>{{messageStatus.message}}</p>                
            </div>
            <div class="modal-footer">
              <button ng-click="msgbox();" 
                      type="button" class="btn btn-outline pull-left" data-dismiss="modal">CERRAR</button>
              <button ng-click="msgbox();"
                  type="button" class="btn btn-outline">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div> 
<section class="no-margin bg-withe bg-withe"  ng-show="messageStatus.show && messageStatus.waiting">      
    <div class="row ">      
        <div class="col-sm-12">            
             </br> </br>
             <img ng-src="{{main.loadingGif}}"
                  style="max-height: 300px; margin: 0 auto;"
                  class="img-responsive" alt ="waiting"/>              
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 text-center">
            <h4 class="text-primary">
                {{messageStatus.message}}
            </h4>           
            </br></br></br></br></br></br></br>
        </div>
    </div>        
</section>