<!DOCTYPE html>
<!--
En esta vista se precenta al usuario la informacion hacerca del archivo generado.

-->

<section >
    <div 
        class="row">        
        <div id="ref-col"           
            class="col-md-8 col-md-offset-2 text-center">
            <h3 style="line-height: 34px;" >                        
               
            </h3>        
            <div class="row">
                <div class="col-md-5">                                            
                    <div class="box box-info">                        
                        <div class="box-body">
                            Compresión
                        </div>
                    </div>
                </div>
                <div class="col-md-7 text-left">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h2 class="box-title">
                                El resultado de la compresión.
                            </h2>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>                                    
                                    <tr>
                                        <td>
                                            Descripción
                                        </td>
                                        <td>
                                            Páginas
                                        </td>
                                        <td>
                                            Tamaño
                                        </td>
                                    </tr>                                    
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Tamaño del archivo orginal: 
                                        </td>     
                                        <td class="text-center"
                                            style="width: 10px;">
                                            <i>
                                                {{ data.upload.doc.numPages}}
                                            </i>
                                        </td>
                                        <td class="text-right bg-red"
                                            style="width: 100px;">
                                            <strong>
                                                  {{ data.upload.inputFile.size | smartFileSizeInfo : 2}}
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr >                                     
                                        <td>
                                            Tamaño del archivo <strong class="text-primary">optimizado</strong>: 
                                        </td>        
                                        <td class="text-center"
                                            style="width: 10px;">
                                            <i>
                                                {{ data.download.file.numPages}}
                                            </i>
                                        </td>
                                        <td class="text-right bg-green"
                                            style="width: 100px;">
                                            <strong>
                                                {{data.download.file.size | smartFileSizeInfo:2}}
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr >                                                               
                                        <td colspan="2">
                                             El archivo se redujo un: 
                                        </td>
                                        
                                        <td class="text-right bg-aqua"
                                            style="width: 100px;">
                                            <strong>
                                                {{ data.download.file.compressionRate }}%
                                            </strong>
                                        </td>
                                    </tr>
                               </tbody>
                            </table>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <!-- Mostramos una lista de los sistemas en los que se puede adjuntar el archivo generado.-->
        <div ng-repeat=" _isSaveFor in (statics.otherApps.list | leMaxFileSize : data.download.file.size)"             
            class="col-md-12 text-center" style="margin-bottom: 25px;">
            <h4>
                <i class="check-circle fa fa-check bg-green animate__heartBeat"></i>                
                El archivo <strong class="text-primary">optimizado</strong> 
                está dentro del rango de peso del
                 <strong >{{_isSaveFor.id}}.</strong> 
            </h4>
        </div>
                
        <div 
            class="col-md-6  col-md-offset-3  text-center">
            <button 
                ng-click="downloadPDF();"
                class="btn btn-hg btn-primary btn-block btn-flat">
                <i class="fa fa-download"></i>
                Descargar
            </button>            
        </div>
        <div 
            class="col-md-4 col-md-offset-4 text-center">
            <br/><br/>
            <h4 class="cursor-pointer ">
                <a style="text-decoration: underline;" 
                    ng-click="backToUploadView();"
                    class="text-primary">                    
                    Optimizar otro archivo
                </a>
            </h4>
        </div>
    </div>
</section>