
<section
    ng-switch on ="comprimir.view.name"
    ng-show="!messageStatus.show && !confirmarAccion.show" >
    
    <section  ng-switch-when="upload">
        <section
            ng-include=" 'app/comprimir/upload.html?c=TIME_STAMP_JS_FILE_HERE' "> 
        </section>    
    </section>  
    <section  ng-switch-when="download">        
        <section 
            ng-include=" 'app/comprimir/downloadView.html?c=TIME_STAMP_JS_FILE_HERE' "> 
        </section>    
    </section> 
</section>

<section     
    class="q-modal container-fluid" 
    ng-include="'app/message/messageView.html?c=TIME_STAMP_JS_FILE_HERE'" ></section>

<section 
    class="q-modal container-fluid"
    ng-include="'app/message/confirmarAccionView.html?c=TIME_STAMP_JS_FILE_HERE'" ></section> 