

<section >
    <div ng-show="data.upload.showUpload" 
        class="row">        
        <div id="ref-col"
            style="margin-bottom: 40px;"
            class="col-md-8 col-md-offset-2 text-center">
            <h3 style="line-height: 34px;" >                        
                Vamos a comprimir el archivo PDF 
            </h3>        
            <h4 style="line-height: 28px;">
                Consiga que su archivo PDF pese menos y, al mismo tiempo, mantenga una calidad aceptable. 
                <br/>
                <strong>Optimiza tus archivos PDF.</strong>
            </h4>
        </div>    
        
        <div 
            class="col-md-4 col-md-offset-4 text-center">
            <div class="form-group" >
                <input 
                    id="file-to-upload"
                    type="file"
                    style="display: none;"
                    custom-on-change="readFile"                       
                    accept="application/pdf" />
                <button 
                    ng-click="openBrowseWindow();"
                    class="btn btn-hg btn-primary btn-flat ">
                    Buscar archivo
                </button>
            </div>
            <br>
            
                 
        </div>
    </div>
    <div ng-show="!data.upload.showUpload"  
        class="row bg-withe"
        style="margin-bottom: 10px; min-height: 36px;">
        <div class="col-md-8 col-md-offset-1 ">                        
            <a class="btn btn-flat pull-right btn-default"
                ng-click="zoom(-1);">
                 <i class="fa fa-search-minus" aria-hidden="true"></i>                  
            </a>
            <a class="btn btn-flat pull-right btn-default"
                ng-click="zoom(1);">
                <i class="fa fa-search-plus" aria-hidden="true"></i>                  
            </a>
            
            <a class="btn btn-default btn-flat pull-left">                 
                <span class="hidden-sm hidden-xs">
                    {{data.upload.doc.numPages}} Páginas
                </span>
                <span class="hidden-md hidden-lg">
                    <i class="fa fa-file"></i> {{data.upload.doc.numPages}}
                </span>
             </a>
        </div>
    </div>
    <div class="row" >
        <div  ng-show="!data.upload.showUpload" 
            class="col-md-3 bg-withe pull-right">
            <div class="tab-pane" >
                <h4 class="text-center"
                    style="line-height: 2em; margin-bottom: 10px;">
                    ¿Cúanto desea comprimir el archivo?
                </h4>    
                <ul class="control-sidebar-menu cursor-pointer">
                    <li class="compression-quality"
                        ng-class="{
                        'compression-border-bottom':$index!==$lasst,
                        'compression-border-top':$first 
                        }" 
                        ng-repeat=" _feature in data.compression.levels">                        
                        <small><br/></small>
                        <a ng-click="compressDocument(_feature.quality);" >
                             <i class="menu-icon {{_feature.iconCls}}"></i>
                            <div class="menu-info">
                                <h4 style="margin-bottom: 5px;"
                                    class="control-sidebar-subheading">
                                    <strong>{{_feature.label}}</strong>
                                </h4>
                                {{_feature.description}}
                              
                            </div>
                        </a>
                        <small><br/></small>
                    </li>
                    <li class="compression-quality compression-border-bottom">
                        <small><br/></small>
                        <a ng-click="swComprimirView(comprimir.views.keys.upload);" >
                             <i class="menu-icon fa fa-backward bg-aqua"></i>
                            <div class="menu-info">
                                <h4 style="margin-bottom: 5px;"
                                    class="control-sidebar-subheading">
                                    <strong>
                                        Empezar de nuevo
                                    </strong>
                                </h4>
                               Seleccionar un archivo diferente.
                            </div>
                        </a>
                        <small><br/></small>
                    </li>
                </ul>
                <br/><br/><br/><br/><br/><br/>
            </div>
        </div>
        
        <div class="col-md-8 col-md-offset-1 pull-left text-center">                
             <div ng-repeat="_page in data.upload.cnvPages" 
                  style="margin-bottom: 5px;"
                 class="row">   

                 <div class="col-xs-12">
                     <div class="col-xs-12 bg-withe text-center">  
                         <div class="row">                             
                             <span class="text-red text-inline-block"
                                 ng-show="!_page.show">
                                 La página <strong>{{_page.index+1}}</strong> no se incluirá en el documento final.
                             </span>
                             <button 
                                 ng-show="_page.show" 
                                 style="margin-left: 2px;"
                                 title="Remover esta página"
                                 class="btn btn-flat pull-right btn-danger"
                                 ng-click="setPageVisivility(_page);">
                                 <i class="fa fa-trash-o" aria-hidden="true"></i>                                     
                             </button>
                             <button 
                                 ng-show="!_page.show"
                                 style="margin-left: 2px;"
                                 title="Agregar esta página"
                                 class="btn btn-flat pull-right btn-success"
                                ng-click="setPageVisivility(_page);">
                                 <i class="fa fa-check" aria-hidden="true"></i>                                     
                             </button>
                             <button title="Descargar una copia de la página {{_page.index+1}}"
                                 class="btn btn-flat pull-right btn-default"
                                 ng-click="compressImageAndDownload(_page.index);">
                                 <i class="fa fa-download" aria-hidden="true"></i>     
                             </button>
                         </div>
                     </div>

                     <div ng-show="_page.show" 
                         class="row">
                         <canvas ng-class="{'disabled-hard':!_page.show}"                   
                             id="pdf-canvas-page-{{_page.index}}" width="{{statics.viewport.size}}">     
                         </canvas>                
                     </div>

                     <div ng-show="_page.show" 
                         class="col-xs-12 bg-withe text-center">  
                         <div class="row">
                             <span>
                                 Página: 
                                 <strong>{{_page.index+1}}</strong> 
                                 de {{data.upload.doc.numPages}}
                             </span>        
                             <strong ng-show="!_page.show">
                                 No incluida.
                             </strong>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
       
    </div>
    <div
        ng-show="!data.upload.showUpload" 
        class="row tex-center">
        <div class="col-md-10 col-md-offset-1 text-center">
            <span>Fin del Documento</span>
        </div>   
    </div>
</section>