<h3 class="control-sidebar-heading">Tablas Locales</h3>

<label 
    ng-click="deleteLocalStorage(_value, $index);"
    ng-repeat="(_key,_value) in  localStorageItems"
    class="control-sidebar-subheading cursor-pointer"
    ng-class="{'text-center':_value.id===0}">
    {{_value.label}}
    <span       
       class="text-red pull-right">
        <i class="fa fa-trash-o"></i>
    </span>
</label>
            

   
   