
   <h3 class="control-sidebar-heading">Configuracion Local</h3>
   <ul class="control-sidebar-menu">
        <li>
            <span>Sucursal por defecto</span>
            <select                                                             
                class="form-control"                         
                ng-change="refreshDefaultPuntoVenta()"
                ng-model="inEdit.config.idPuntoVenta"                         
                ng-options="opticas.id as opticas.alias for opticas in statickAssets.locales.list ">
             </select>
        </li>      
   </ul>
   
   
   <!-- /.control-sidebar-menu -->

