<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active">
        <a ng-click="switchView(0)">
            <i class="fa fa-home"></i>
        </a>
    </li>
    <li class="">
        <a ng-click="switchView(1)">
            <i class="fa fa-wrench"></i>
        </a>
    </li>
    <li class="">
        <a ng-click="switchView(2)">
            <i class="fa fa-gears"></i>
        </a>
    </li>
</ul>


<div ng-switch on ="view"
    class="tab-content">    
    <section  ng-switch-when="home">
         <div class="tab-pane active" 
            ng-include=" 'app/configuracion/homeView.html?c=TIME_STAMP_JS_FILE_HERE' ">             
        </div>     
        
    </section>
    
    <section  ng-switch-when="ajustes">
        <div class="tab-pane active" 
            ng-include=" 'app/configuracion/ajusteView.html?c=TIME_STAMP_JS_FILE_HERE' ">             
        </div>
    </section>
    
    <section  ng-switch-when="tools">
        <div class="tab-pane active" 
            ng-include=" 'app/configuracion/toolsView.html?c=TIME_STAMP_JS_FILE_HERE' ">             
        </div>
    </section>
    
    
</div>
