
<div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-sm-12">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>	
                        <i class="icon fa fa-check"></i>
                        PDF Pombero
                    </h4>
                    <h5>
                        Es un herramienta online gratuita que no requiere instalación, por lo tanto no utiliza
                        espacio de almacenamiento en su dispositivo. Es segura ya que todo el trabajo se realiza 
                        en su equipo. Su información nunca sale de su espacio de trabajo. <br/>    
                    </h5>          

                </div>        
            </div>
        </div>
        <section class="bg-withe"  >

            <div class="row">        
                <div ng-repeat="_feature in statics.features | orderBy: '+order'" 
                    class="col-md-3">            
                    <a ng-href="{{_feature.btn.href}}">
                        <div class="tool-box"
                            ng-class=" {'disabled': _feature.btn.href.length===0} ">

                            <h1>
                                <i class="{{ _feature.btn.icon}}"></i>
                            </h1>                
                            <strong class="info-box-text">
                                {{ _feature.btn.caption}}
                            </strong>
                            <br/>
                            <span class="text-info">
                                {{ _feature.btn.description}}
                            </span>
                            <br/>
                        </div>            
                    </a>
                </div>
                
            </div>

        </section>
    </div>
</div>
