
<section
    ng-switch on ="landing.view.name"
    ng-show="!messageStatus.show && !confirmarAccion.show" >
    
    <section  ng-switch-when="heramientas">
        <!-- do not remove class sobre-->
        <section class="sobre" 
            ng-include=" 'app/landing/list.html?c=TIME_STAMP_JS_FILE_HERE' "> 
        </section>    
    </section>    
    <section  ng-switch-when="comprimir">
        <!-- do not remove class sobre-->
        <section 
            ng-include=" 'app/landing/comprimir.html?c=TIME_STAMP_JS_FILE_HERE' "> 
        </section>    
    </section>
    <!--
    <section  ng-switch-when="sobre">        
        <section ng-controller="SobreCtrl"
            ng-include=" 'app/sobre/mainView.html?c=TIME_STAMP_JS_FILE_HERE' "> 
        </section>    
    </section>
    -->
</section>

<section     
    class="q-modal container-fluid" 
    ng-include="'app/message/messageView.html?c=TIME_STAMP_JS_FILE_HERE'" ></section>

<section 
    class="q-modal container-fluid"
    ng-include="'app/message/confirmarAccionView.html?c=TIME_STAMP_JS_FILE_HERE'" ></section> 